body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}


.wrapper {
    display: flex;
}


.sidebar {

    width: 250px;
    height: 100vh;

    background: #1e293b;
    color: white;

    padding: 20px;

    position: fixed;

}


.sidebar h3 {

    text-align: center;

}


.sidebar a {

    display: block;

    color: white;

    text-decoration: none;

    padding: 12px;

    margin-top: 10px;

    border-radius: 8px;

}


.sidebar a:hover {

    background: #334155;

}


.main {

    margin-left: 250px;

    width: 100%;

}


.content {

    padding: 25px;

}
/* ================= Faculty OBE Menu ================= */

.obe-menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:8px;
}

.obe-menu .btn{
    width:100px;
    padding:6px 0;
    font-size:13px;
    margin:0;
}

.obe-menu a{
    display:inline-flex !important;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}